vadersentiment~=3.3.2
pandas~=2.2.3
dotenv~=0.9.9
langchain_ollama~=0.2.3
langchain_chroma~=0.2.2
langchain~=0.3.21
ollama~=0.4.7
praw~=7.8.1
sentence_transformers~=3.4.1
certifi~=2025.1.31
dask~=2025.2.0
distributed~=2025.2.0

